<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MNB.Properties.Settings.LogConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Databases\LogDatabase.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CustomBinding_MNBArfolyamServiceSoap" maxReceivedMessageSize="10000000"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.mnb.hu/arfolyamok.asmx" binding="basicHttpBinding"
                bindingConfiguration="CustomBinding_MNBArfolyamServiceSoap"
                contract="MNBWebService.MNBArfolyamServiceSoap" name="CustomBinding_MNBArfolyamServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>